# Executables
*.exe

# Compiled object files
*.obj

# Conan files
conan.lock
conanbuildinfo.args
conanbuildinfo.txt
conaninfo.txt
graph_info.json

# Python files
.venv/
__pycache__/

cmake-build-debug/

.idea/

# Unity Test library
Unity/

# CBOR files
*.cbor
