# Executables
*.exe

# Compiled object files
*.obj

# Conan files
conan.lock
conanbuildinfo.args
conanbuildinfo.txt
conaninfo.txt
graph_info.json

# Python files
.venv/
__pycache__/

.idea/

cmake-build-*

# Ignore all files in the bin folder except for gitkeep
bin/
!bin/.gitkeep

# Ignore test executable
tests/test_suite

