# Executables
*.exe

# Compiled object files
*.obj

# Conan files
conan.lock
conanbuildinfo.args
conanbuildinfo.txt
conaninfo.txt
graph_info.json

# Python files
.venv/
__pycache__/

.idea/

cmake-build-*

# CBOR files in the bin folder
bin/*.cbor
